.container {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  border-radius: 1rem;
  place-items: center;
}

.chart {
  background: var(--color-card-bg);
  width: 80%;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: 20px 0 20px;
}

.infoContainer h1 {
  color: var(--color-text);
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  margin: 0;
}

.subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.subtitle p {
  font-weight: 600;
  margin: 10px;
  color: var(--color-subtext);
  font-size: 14px;
}
.button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 9px;
  cursor: pointer;
  border: none;
  margin: 5px 5px;
  background: none;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 400;
}

.chartInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: min-content;
  margin: 10px 0 20px;
}

.totalFollowers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-right: 5px;
}

.newFollowers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-right: 5px;
}

.newFollowersToday {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-right: 5px;
}

.numberTotal {
  font-weight: 700;
  color: var(--color-subtext);
  font-size: 46px;
  margin: 0 15px 0 0;
}

.numberNew {
  font-weight: 700;
  color: hsl(163, 72%, 41%);
  font-size: 46px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
}

.firstLetter {
  font-size: 16px;
  font-weight: 400;
  align-self: center;
  margin-right: 5px;
}

.numberToday {
  font-weight: 700;
  color: hsl(163, 72%, 41%);
  font-size: 46px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
}

.numberTodayRed {
  font-weight: 700;
  color: hsl(356, 69%, 56%);
  font-size: 46px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
}

.text {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 300;
  text-align: start;
  text-wrap: wrap;
  max-width: 120px;
}

.chartContainer {
  background: var(--color-bg);
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 40px;
}

.chartContainer h2 {
  color: var(--color-subtext);
  font-weight: 400;
  font-size: 24px;
  margin: 30px 60px;
}

@media screen and (max-width: 1300px) {
  .chart {
    flex-wrap: wrap;
  }

  .chartInfo {
    display: grid;
    grid-template-areas: ". .";
  }
}

@media screen and (max-width: 850px) {
  .chartInfo {
    display: flex;
    flex-direction: column;
  }
}
