.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: none;
  background-color: var(--color-card-bg);
  border-radius: 5px;
  width: 250px;
  height: 130px;
  box-sizing: border-box;
}

.cardContainer:hover {
  cursor: pointer;
  background-color: var(--color-card-bg-hover);
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-weight: 600;
  color: var(--color-subtext);
  font-size: 12px;
}

.number {
  font-weight: 700;
  color: var(--color-text);
  font-size: 30px;
  letter-spacing: -1px;
  margin: 2px
}

.img {
  height: 20px;
  width: 20px;
}

.variation {
  color: hsl(163, 72%, 41%);
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}

.variationDown {
  color: hsl(356, 69%, 56%);
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}

@media screen and (max-width: 1300px) {
  .cardContainer {
    width: 100%;
    max-width: unset;
  }
}