.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: 20px 0 20px;
}

.container h1 {
  color: var(--color-text);
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  margin: 0;
}

.subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.subtitle p {
  font-weight: 600;
  margin: 10px;
  color: var(--color-subtext);
  font-size: 14px;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: min-content;
  margin: 10px 0 20px;
}

.totalFollowers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-right: 5px;
}

.newFollowers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-right: 5px;
}

.newFollowersToday {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-right: 5px;
}

.numberTotal {
  font-weight: 700;
  color: var(--color-subtext);
  font-size: 46px;
  margin: 0 15px 0 0;
}

.numberNew {
  font-weight: 700;
  color: hsl(163, 72%, 41%);
  font-size: 46px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
}

.firstLetter {
  font-size: 16px;
  font-weight: 400;
  align-self: center;
  margin-right: 5px;
}

.numberToday {
  font-weight: 700;
  color: hsl(163, 72%, 41%);
  font-size: 46px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
}

.numberTodayRed {
  font-weight: 700;
  color: hsl(356, 69%, 56%);
  font-size: 46px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
}

.text {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 300;
  text-align: start;
  text-wrap: wrap;
  max-width: 120px;
}

@media screen and (max-width: 1300px) {
  .container {
    flex-wrap: wrap;
  }

  .data {
    display: grid;
    grid-template-areas: ". .";
  }
}

@media screen and (max-width: 850px) {
  .data {
    display: flex;
    flex-direction: column;
  }
}
