#root {
  max-width: 1420px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* #Dark {
  background: linear-gradient(to bottom, hsl(232, 19%, 15%), hsl(230, 17%, 14%)); 
  color: hsl(0, 0%, 100%);
}

#Light {
  background: linear-gradient(to bottom, hsl(225, 100%, 98%), hsl(0, 0%, 100%));
  color: hsl(230, 17%, 14%);
} */

/* .read-the-docs {
  color: #888;
} */
